.root {
    background-color: white;
    height: calc(100vh - 64px);
    padding: 20px 20px 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.diceContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dice {
    width: 238px;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F1E9;
    border-radius: 4px;
}

.dotContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F5F1E9;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
}

.buttonContainer {
    width: 100%;
    margin-top: auto;
}