.Waiting {
    position: relative;
    background-color: white;
    background-image: url('../../../public/img/sand_watch_left.png');
    background-repeat: no-repeat;
    height: calc(100vh - 40px);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.Waiting::before {
    position: absolute;
    content: '';
    background-image: url('../../../public/img/sand_watch_right.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

h1 {
    text-align: center;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}